.commit {
	margin-bottom: 14px;
	padding-left: 3px;
	border-left: 4px solid #777777;
}

.commit pre {
	font-size: inherit;
	background-color: transparent;
	padding: 0px;
	margin: 0px;
}

.cdate {
	color: #777777;
}

.chash {
	color: #CCCCCC;
}